.login {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 50%;
    height: 80%;
    background-color: bisque;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: inherit;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
