.note {
    color: black;
    background-color: cornsilk;
}

.note > p.content {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.note > p.author {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    color: darksalmon;
}

.loading {
    transform: translateY(-15px);
    display: inline-block;
    animation: wave 2s ease-in-out infinite backwards;
}